body {
  margin: 0;
}

.container {
  padding-top: 50px;
  padding-bottom: 20px;
  outline: none;
}

.playground {
  background: skyblue;
  width: 700px;
  height: 450px;
  margin: auto;
  position: relative;
}

.item {
  width: 90px;
  height: 90px;
  background: aliceblue;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: relative;
  z-index: 1;
}

.goal {
  z-index: 0;
  right: 20px;
  bottom: 20px;
  position: absolute;
  background: greenyellow;
}

.undo-score {
  display: flex;
  justify-content: space-evenly;
}
